:root {
  /* COLORS */
  --white: #ffffff;
  --grey: #949494;
  --blue-800: #242742;
  --blue-700: #36384d;
  --red: #ff6155;
  --gradient-4: linear-gradient(to right, #ff6a3a, #ff527b);

  /* TYPOGRAPHY */
  --tx-1: normal 700 3.5rem/1 "Roboto", sans-serif;
  --tx-1M: normal 700 2.5rem/1 "Roboto", sans-serif;
  --tx-2b: normal 700 1rem/1.5 "Roboto", sans-serif;
  --tx-2r: normal 400 1rem/1.5 "Roboto", sans-serif;
  --tx-3: normal 700 .75rem/1.5 "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {  
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.main {
  width: 23.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.container {
  width: 20.4375rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.cont-title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cont-title h1 {
  font: var(--tx-1M);
  color: var(--blue-800);
}

.cont-title p {
  font: var(--tx-2r);
  color: var(--blue-800);
}

.cont-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cont-list li {
  list-style: none;
  display: flex;
  font: var(--tx-2r);
  color: var(--blue-800);
}

li::before {
  content: "";
  display: inline-block;
  background-image: url(assets/images/icon-list.svg);
  background-repeat: no-repeat;
  width: 1.3125rem;
  padding-left: 1rem;
}

.cont-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form label{
  font: var(--tx-3);
  color: var(--blue-800);
}

input {
  padding-inline: 1.5rem;
  padding-block: 1.15rem;
  border-radius: .5rem;
}

input::placeholder{
  font: var(--tx-2r);
  color: var(--grey);
}

.btn {
  padding-inline: 2.8125rem;
  padding-block: .9rem;
  background-color: var(--blue-800);
  font: var(--tx-2b);
  color: var(--white);
  border-radius: .5rem;
}
