:root {
  /* COLORS */
  --white: #ffffff;
  --grey: #949494;
  --blue-800: #242742;
  --blue-700: #36384d;
  --red: #ff6155;
  --red-100: #ffe7e6;
  --gradient-4: linear-gradient(to right, #ff6a3a, #ff527b);

  /* TYPOGRAPHY */
  --tx-1: normal 700 3.5rem/1 "Roboto", sans-serif;
  --tx-1M: normal 700 2.5rem/1 "Roboto", sans-serif;
  --tx-2b: normal 700 1rem/1.5 "Roboto", sans-serif;
  --tx-2r: normal 400 1rem/1.5 "Roboto", sans-serif;
  --tx-3: normal 700 0.75rem/1.5 "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
  /* background-color: var(--blue-700); */
}

/* MOBIL FIRST // MAIN PAGE */

.main-page {
  /* width: 23.4375rem; */
  width: 100vw;
  min-height: 49.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background-color: var(--white);
}

picture img {
  width: 100vw;
}

.container {
  /* width: 20.4375rem; */
  width: calc(100vw - calc(0vw + 48px));
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.cont-title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cont-title h1 {
  font: var(--tx-1M);
  color: var(--blue-800);
}

.cont-title p {
  font: var(--tx-2r);
  color: var(--blue-800);
}

.cont-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cont-list li {
  list-style: none;
  display: flex;
  font: var(--tx-2r);
  color: var(--blue-800);
}

li::before {
  content: "";
  display: inline-block;
  background-image: url(assets/images/icon-list.svg);
  background-repeat: no-repeat;
  width: 1.3125rem;
  padding-left: 1rem;
}

.cont-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  display: flex;
  justify-content: space-between;
}

.message-error {
  font: var(--tx-3);
  color: var(--red);
}

.form label {
  font: var(--tx-3);
  color: var(--blue-800);
}

input {
  padding-inline: 1.5rem;
  padding-block: 1.15rem;
  border-radius: 0.5rem;
}

/* Clase CSS que define el estilo de error */
.input-error {
  height: 56px;
  background-color: var(--red-100);
  border-color: var(--red);
  font: var(--tx-2r);
  color: var(--red);
}

input::placeholder {
  font: var(--tx-2r);
  color: var(--grey);
}

.btn {
  width: 100%;
  padding-inline: 2.8125rem;
  padding-block: 0.9rem;
  background-color: var(--blue-800);
  font: var(--tx-2b);
  color: var(--white);
  border-radius: 0.5rem;
  cursor: pointer;
  margin-block-start: 24px;
}

/* MOBIL FIRST // MAIN PAGE-SUCCESS */

.container-success {
  width: 20.4375rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  gap: 14.9375rem;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.message h2 {
  font: var(--tx-1M);
  color: var(--blue-800);
}

.message p {
  font: var(--tx-2r);
  color: var(--blue-800);
}

.e-user {
  font: var(--tx-2b);
  color: var(--blue-800);
}

.btn-2 {
  padding-inline: 6.1612rem;
  padding-block: 0.9rem;
}
